/* styles.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    --color1: #fff;
    --color2: #0a0a0a;
    --color3:#c30bf1;
}
html{
    scroll-behavior: smooth;
}

header {
    background-color: var(--color2);
    padding: 12px 20px;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--color2);
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.logo h1{
    font-size: large;
}
.logo a{
    text-decoration: none;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.name {
    font-size: 1.5em;
    color: var(--color1);
}

.name::before {
    content: "Nitin ";
    color: #FF9933; /* Saffron color */
}

.name span {
    color: #FFFFFF; /* White color */
}

.name::after {
    content: " Mane";
    color: #138808; /* Green color */
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    padding-left: 30px;
}
/* navmenu underline hover */
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color3);
    transition: 0.15s ease-in-out;
}

.menu li a:hover::after {
    width: 100%;
}

.open-menu, .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}


@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu, .close-menu {
        display: block;
        
    }

    #check:checked ~ .menu {
        right: 0;
    }
   
}




/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/home-bg.jpg') no-repeat center center/cover;
    color: #FFF;
    text-align: center;
    
}

.hero .container {
    max-width: 700px;
    padding: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.hero h2 {
    font-size: 3rem;
    color: #FF9933; /* Saffron color for Nitin */
    margin-bottom: 0.5rem;
}

.hero h2 span {
    color: #FFFFFF; /* White color for Mahadev */
}

.hero h2::after {
    content: " Mane";
    color: #138808; /* Green color for Mane */
}

.hero h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.hero h4 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.hero h5 {
    font-size: 1.75rem;
    background-color: #3a5cf5;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    color: #FFF;
    transition: background-color 0.3s ease;
}

.hero h5:hover {
    background-color: #65a6e2; /* Darker Saffron color */
}

@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero h2 {
        font-size: 2.5rem;
    }

    .hero h3 {
        font-size: 1.25rem;
    }

    .hero h4 {
        font-size: 1rem;
    }

    .hero h5 {
        font-size: 1.5rem;
    }
}



/* About Me Section */
.about-me {
    padding: 50px 0;
    background-color: #f9f9f9;
    color: #333;
}

.about-me .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-content {
    text-align: center;
}

.about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #181818; /* Dark color for heading */
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile p {
    font-size: 1.125rem;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}

.skills {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.skills h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #181818; /* Dark color for subheading */
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills ul li {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #666;
}

@media screen and (max-width: 768px) {
    .about-content h2 {
        font-size: 2rem;
    }

    .profile img {
        width: 120px;
        height: 120px;
    }

    .profile p,
    .skills ul li {
        font-size: 1rem;
    }

    .skills h3 {
        font-size: 1.5rem;
    }
}


/* Blog Section */
.blog-section {
    padding: 50px 0;
    background-color: #fff;
    color: #333;
}

.blog-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.blog-section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: #181818; /* Dark color for heading */
}

.blog-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.post {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: calc(33.333% - 20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.post img {
    width: 100%;
    height: auto;
}

.post h3 {
    font-size: 1.5rem;
    margin: 15px;
}

.post p {
    font-size: 1rem;
    margin: 0 15px 15px 15px;
    color: #666;
}

.post a {
    display: block;
    text-align: center;
    margin: 15px;
    padding: 10px 0;
    background-color: #FF9933;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.post a:hover {
    background-color: #FF781F; /* Darker Saffron color */
}

.post:hover {
    transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
    .post {
        width: 100%;
    }

    .blog-section h2 {
        font-size: 2rem;
    }
}



/* Certification Section */
.certifications-section {
    padding: 50px 0;
    background-color: #f9f9f9;
    color: #333;
}

.certifications-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.certifications-section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: #181818; /* Dark color for heading */
}

.certification {
    text-align: center;
    margin-bottom: 40px;
}

.certification img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.certification h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.certification p {
    font-size: 1rem;
    margin: 0;
    color: #666;
}

@media screen and (max-width: 768px) {
    .certification img {
        width: 150px;
    }

    .certifications-section h2 {
        font-size: 2rem;
    }
}
/* end section */

/* Contact Section */
.contact-section {
    padding: 50px 0;
    background-color: #fff;
    color: #333;
}

.contact-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: #181818; /* Dark color for heading */
}

.contact-form {
    text-align: center;
}

.contact-form form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px 0;
    background-color: #FF9933; /* Saffron color */
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #FF781F; /* Darker Saffron color */
}

@media screen and (max-width: 768px) {
    .contact-section h2 {
        font-size: 2rem;
    }

    .contact-form form {
        padding: 0 20px;
    }
}

/* end section */

/* Footer Section */
.footer-section {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content .name h4 {
    margin: 0;
    font-size: 1.5rem;
}

.footer-content .certifications p {
    margin: 5px 0;
    font-size: 1rem;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.social-icons a:last-child {
    margin-right: 0;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 0.9rem;
    color: #fff;
}
/* end section */

/* start my skill section */

/* Add to existing CSS styles */

/* Skills Section */
.skills-section {
    padding: 50px 0;
    background-color: #f9f9f9;
    color: #333;
}

.skills-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.skills-section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: #181818; /* Dark color for heading */
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.skill {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 45%;
    max-width: 500px;
}

.skill:hover {
    transform: translateY(-5px);
}

.skill h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #181818; /* Dark color for skill titles */
}

.skill ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill ul li {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #666; /* Medium color for skill list items */
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .skills-list {
        flex-direction: column;
        align-items: center;
    }

    .skill {
        width: 90%;
    }
}

